@import 'variables';

.btn {
    display: inline-block;
    color: $white;
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
    cursor: pointer;
    background-color: $aqua;
    border: none;

    border-radius: 3px;
    font-size: 10px;
    padding: 7px 14px;

    transition: color .15s ease-in-out,
        background-color .15s ease-in-out,
        border-color .15s ease-in-out,
        box-shadow .15s ease-in-out;

    &:hover {
        background-color: darken($aqua, 5%);
        //color: $btn-color;
    }

    &:focus {
        //box-shadow: $btn-focus-box-shadow;
    }

    &:active {
        //@include box-shadow($btn-active-box-shadow);
    }

    &:disabled {}
}