<div class="album-item row">
    <img class="album-img" [src]="value.imageUrl">
    <div class="col col-grow text-ellipsis">
        <div class="lead">{{value.title}}</div>
        <a class="caption" routerLink="/artist/{{value.artist.id}}">{{value.artist.title}}</a>
    </div>
    <div class="col col-2">
        <span class="label">Released:</span>
        {{value.releaseDate | date:'yyyy' }}
    </div>
    <div class="col col-2">
        {{value.price}}
    </div>
    <div class="col col-2 centered">
        <button *ngIf="!value.favorite" class="btn-favorite" (click)="addedFavorite.next(value)">MARK AS
            FAVORITE</button>
        <button *ngIf="value.favorite" class="btn-remove-favorite" (click)="removedFavorite.next(value)">Remove
            favorite</button>
    </div>
</div>