@import 'variables';

.btn-remove-favorite {
    color: $aqua;
    background-color: transparent;
}

.overflow-hidden {
    overflow: hidden;
}

.album-img {
    width: 54px;
    height: 54px;
    margin-right: 26px;
    object-fit: contain;
}

.album-item {
    background: white;
    box-shadow: 0 1px 3px 0 #e7e7e7;
    padding: 18px;
    margin-bottom: 10px;
    min-width: 0;
}



.lead {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.33;
    color: $blackish;
}

.label {
    font-size: 14px;
    color: #000000;
}

.body {
    margin-right: 8px;
    font-size: 14px;
    color: #a0a0a0;
}

.caption {
    font-size: 12px;
    color: #a0a0a0;
}
