.btn-favorite {
    width: 125px;
    height: 25px;
    border-radius: 3px;
    background-color: var(--aqua);

    font-size: 10px;
    color: var(--white);
}

.btn-remove-favorite {
    font-size: 10px;
    color: var(--aqua);
    background-color: transparent;
}

.album-img {
    width: 54px;
    height: 54px;
    margin-right: 26px;
    object-fit: contain;
}

.album-item {
    background: white;
    box-shadow: 0 1px 3px 0 #e7e7e7;
    padding: 18px;
    margin-bottom: 10px;
    width: 100%;
}



.lead {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.33;
    color: var(--blackish);
}

.label {
    margin-right: 8px;
    font-size: 14px;
    color: #000000;
}

.body {
    font-size: 14px;
    color: #a0a0a0;
}

.caption {
    font-size: 12px;
    color: #a0a0a0;
}
